<!DOCTYPE html>
<html lang="en">

<head>
    <title>Heads-Up Texas Hold'em</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
        <div class="jumbotron">
            <h1>Free Heads-Up Texas Hold-em</h1>

            <form action="/play" method="POST">
                Username:<br>
                <input type="text" name="name"><br><br>
                <input type="submit" value="Play Here Legally">
            </form>
        </div>

        <footer class="footer">
            <p>&copy; hackathon46641 2017</p>
        </footer>
</body>

</html>
