<!DOCTYPE html>
<html lang="en">

<head>
    <title>Heads-Up Texas Hold'em</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Created by hackathon46641</h3>
        </div>

        <div class="jumbotron">
            <h1>Free Heads-Up Texas Hold-em</h1>

            <form action="/play" method="POST">
                Username:<br>
                <input type="text" name="name"><br><br>
                <input type="submit" value="Play Now">
            </form>
        </div>

        <footer class="footer">
            <p>&copy; hackathon46641 2017</p>
        </footer>

    </div>
</body>

</html>
